doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
  br
  hr
  footer 
    - var pClasses=['mt-5', 'mb-3', 'text-muted'];
    p(class=pClasses) &copy; 2020
